{% load static %}


<!doctype html>

<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Store{% endblock %}</title>
        {% include 'bits/html_header_include.html' %}
        {% block header_end %}{% endblock %}
      </head>

      <body>
          {% block body %}
          {% include 'bits/site_header.html' %}

            <main role="main">
              <div class="album py-5 bg-light">
                <div class="container">
                    {% block content %} No Content Yet{% endblock %}
                </div>
              </div>
            </main>
          {% endblock %}
      </body>
</html>
